@{
    ViewBag.Title = "Add";
}

<div class="add_div">

    <form action="/home/AddSubmit" method="post">
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control input" id="code" placeholder="Code">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control input" id="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="libelle">Libelle</label>
            <input type="text" class="form-control input" id="libelle" placeholder="Libelle">
        </div>
        <div class="form-group">
            <label for="prix">Prix</label>
            <input type="number" min="1" step="1" class="form-control input" id="prix" placeholder="Prix">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" min="1" step="1" class="form-control input" id="stock" placeholder="Stock">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="actif">
            <label class="form-check-label input" for="actif">Actif</label>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>

</div>
