@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: Alegreya;
    src: url(../fonts/Alegreya-Regular.ttf);
}

.navbar-fixed-top {
    padding: 10px 5px;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-size: 25px;
}

.navbar-inverse .navbar-brand:hover{
    color:#9d9d9d;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-nav{
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
}

.search_logo {
    width: 35px;
    margin: 0 8px;
}

.logo_title {
    font-family: Lobster;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.logo {
    width: 25vw;
}

.link {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 8px;
    background: url(search.png);
    text-indent: -9999px; /* hides the link text */
}

.link:hover{
    opacity: 0.8;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body_produits{
    padding: 5%;
}

.body_home {
    padding: 5%;
    //display: flex;
    //flex-direction: row;
}

.custom_card {
    //width: 20vw;
    //height: 10vh;
    padding: 2%;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
    margin: 2%;
}

h3 {
    margin-top: 5px;
}

.navbar-nav {
   float: right!important;
}

a, a:visited{
    color: black;
}

.action_button {
    float: right;
    margin: 0 1%;
}

.action_button_td{
    width: 15%;
}

td {
    vertical-align: middle!important;
    width: 10%;
}

/* DETAIL */
.detail_div {
    padding: 2.4% 6%;
    background-image: url(grid.jpg);
    height: 100vh;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin: 7% 26%;
    background-size: 36%;
    font-size: 2.8rem;
    font-family: Alegreya;
    font-weight: bold;
}

.item_product:active {
    color: #337ab7;
    background-color: #fff;
}

.data_div {
    font-size: 2rem;
}

.detail_flex_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}

/* ADD */

.add_div {
    padding: 2.4% 6%;
    height: 100vh;
    box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.14), 7px 3px 2px -1px rgba(0,0,0,0.12), 0 1px 5px 1px rgba(0,0,0,0.2);
    margin: 7% 26%;
    font-size: 1.8rem;
    font-weight: bold;
}

.input {
    max-width: 100%;
}


